*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-size:sans-serif;
}
:root{
    --primary-light-red: hsl(0, 100%, 67%);
    --primary-orange-yellow: hsl(39, 100%, 56%);
    --primary-green-teal: hsl(166, 100%, 37%);
    --primary-cobalt-blue: hsl(234, 85%, 45%);
    --gradient-light-slate-blue: hsl(252, 100%,67%);
    --gradient-light-royal-blue: hsl(241, 81%, 54%);
    --gradient-violet-blue:hsl(256, 72%, 46%, 1);
    --gradient-persian-blue: hsl(241, 72%, 46%, 0);
    --neutral-white:hsl(0, 0%, 100%);
    --neutral-pale-blue: hsl(221, 100%, 96%);
    --neutural-light-lavender: hsl(241, 100%, 89%);
    --neutural-dark-gray-blue:hsl(224, 30%, 27%);
} 

body {
    /* height: 120vh; */
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
section{
    height: 100vh;
    width: 300px;
    background: var(--neutral-white);
}
section .top{
    background: var(--gradient-light-royal-blue);
    height: 43%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}
section .top h5{
    color: var(--neutural-light-lavender);
}

section .top .circle{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(360deg, rgb(46, 46, 214), rgb(76, 76, 252));
    border-radius: 50%;
}
section .top .circle h2{
    color: var(--neutral-white);
    font-size: 3rem;
}
section .top .circle h6{
    color: rgb(158, 161, 161);
    font-size: .8rem;
}
section .top h2{
    color: var(--neutural-light-lavender);
    font-size: 1.2rem;
}
section .top p{
    padding: 5px;
    text-align: center;
    color: var(--neutural-light-lavender);
    font-size: .8rem;
    max-width: 80%;
}
section .bottom{
    height: 57%;
    padding: 20px;
}
section .bottom h3{
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: var(--neutural-dark-gray-blue);
}
.reaction-container{
    background-color: rgb(236, 220, 220);
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    height: 14%;
    align-items: center;
}
.reaction-container h5{
    color:  hsl(0, 100%, 67%);
}
.reaction-icon-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
}
.score{
    display: flex;
}
.score span{
    color: rgb(158, 161, 161);
}
.memory-container{
    display: flex;
    background-color: rgb(243, 243, 232);
    gap: 5rem;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    height: 14%;
    align-items: center;
}
.memory-container h5{
    color:hsl(39, 100%, 56%);
}
.memory-icon-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
}
.verbal-container{
    background-color: rgb(234, 245, 239);
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    height: 14%;
    align-items: center;
}
.verbal-container h5{
    color: hsl(166, 100%, 37%);
}
.verbal-icon-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
}
.visual-container{
    background-color: rgb(247, 245, 250);
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    height: 14%;
    align-items: center;
}
.visual-container h5{
    color: hsl(234, 85%, 45%);
}
.visual-icon-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
}
.bottom button{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 20px;
    border: 0;
    background: var(--neutural-dark-gray-blue);
    color: var(--neutral-white);
    font-size: .8rem;    
}
@media(min-width: 767px){
    section{
        width: 100%;
    }
}
@media(min-width: 968px){
    
    body{
        background: var(--neutral-white);        
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    section{
        display: flex;
        background: whitesmoke;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 0px rgba(51, 153, 184, 0.3);
        padding: 0;
        height: auto;
        width: 500px;
                
    }
    section .top{
        height: auto;
        border-radius: 20px;
        max-width: 250px;
    }
    section .bottom{
        background: whitesmoke;
        border-radius: 0px 20px 20px 0px;
    }
    .score p{
        font-size: .8rem;
    }
    .score span{
        font-size: .8rem;
    }
    .memory-container,.reaction-container,.verbal-container,.visual-container{
        gap: 3rem;
    }
}